  <footer class="mb-2 bg-dark text-white">
    
    <div class="row">
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis repellendus veritatis adipisci hic
          facere ea cumque temporibus quae aspernatur!</p>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis repellendus veritatis adipisci hic
          facere ea cumque temporibus quae aspernatur!</p>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis repellendus veritatis adipisci hic
          facere ea cumque temporibus quae aspernatur!</p>
      </div>
    </div>
  </footer>