 <header class="d-flex justify-content-center align-items-center">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-primary txtcenter" type="submit">Button</button>
    </div>
  </header>